/*@mainColor: #eec400; // main color*/
/*@mainColor: #1ac6ff; // main color*/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body {
  background-color: #ffffff;
  font-size: 15px;
  color: #565656;
  width: 100%;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: 'roboto', sans-serif;
  font-weight: 300;
}
/*==========================================
PRE LOADER 
==========================================*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  z-index: 99999;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}
.loaded {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../images/loading.gif);
  background-repeat: no-repeat;
  background-position: center;
  /*background-size*/
  -moz-background-size: cover;
  background-size: cover;
  margin: -20px 0 0 -20px;
}
img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}
a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}
a,
button,
a span {
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.btn.extra-width {
  padding: 13px 40px;
}
.btn:focus,
.btn:active {
  outline: inherit;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*    direction: rtl;*/
}
p {
  margin: 0 0 15px;
}
.clear {
  clear: both;
}
ol,
ul {
  list-style: none;
  padding: 0;
}
img {
  max-width: 100%;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  outline: none;
}
.form-control {
  border: 1px solid rgba(0, 0, 0, 0.08);
  font-size: 16px;
  height: 45px;
}
.form-control:focus {
  border-color: #f62459;
}
h1,
h2,
h3 {
  font-family: 'Lane', sans-serif;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 0;
}
h4,
h5 {
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 0;
}
h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: normal;
}
h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: .9rem;
}
h3 {
  font-weight: normal;
  margin-bottom: .9rem;
  font-size: 2.1rem;
  line-height: 2.5rem;
}
h4 {
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 1.1rem;
}
h5 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
h6 {
  font-size: 1rem;
  margin-bottom: .9rem;
}
p {
  line-height: 1.5rem;
  font-size: 1.1rem;
}
p:last-child {
  margin-bottom: 0px;
}
.home-wrap h1,
.home-wrap h2,
.home-wrap h3,
.home-wrap h4,
.home-wrap h5,
.home-wrap p {
  color: #ffffff;
}
.text {
  color: #333333;
}
.colorstext {
  color: #f62459;
}
.coloricon i {
  color: #f62459;
}
.colorsbg {
  background: #f62459;
  color: #ffffff;
}
.colorsbg .separator2 {
  border: 2px solid;
}
.colorsbg .separator_wrap::after,
.colorsbg .separator_wrap::before {
  background-color: #ffffff;
}
.lightbg {
  background-color: #f9f9f9;
}
.transition {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
/*
Section
*/
.sections {
  padding-top: 100px;
  padding-bottom: 120px;
  position: relative;
  overflow: hidden;
}
.sections.footer {
  padding-bottom: 80px;
}
section .subtitle h5 {
  margin-top: 10px;
  font-size: 1.3rem;
}
.parallax-section {
  max-width: 100%;
  color: #ffffff;
}
section .title-half h2 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: normal;
  margin-bottom: 1.4rem;
}
section .subtitle-half h5 {
  font-weight: 100;
  font-size: 17px;
}
section:nth-of-type(even) {
  /*background-color: #F9F9F9;*/
}
.fw-special-title-half {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 100;
  /*    margin-bottom: 10px;*/
}
.heading {
  margin-bottom: 3rem;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  min-height: 750px;
}
.overlay-fluid-block {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
}
.overlay-img {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #ffffff;
}
.overlay-startup {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
}
.no-padding {
  padding: 0 !important;
}
.fluid-blocks-col {
  padding: 70px 40px 0 80px;
}
/*
Separator
*/
.separator {
  height: 1px;
  width: 150px;
  margin: auto;
  background: #f62459;
}
.separator-left {
  height: 1px;
  width: 150px;
  background: #f62459;
}
.separator_wrap {
  text-align: center;
}
.separator_wrap-left {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 30px;
}
.separator_wrap::after,
.separator_wrap::before {
  background-color: #f62459;
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 90px;
  height: 1px;
  margin-top: 2px;
}
.separator_wrap-left::after {
  background-color: #f62459;
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 80px;
  height: 1px;
  margin-top: 2px;
}
.separator2 {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 2px solid #f62459;
  transform: rotate(45deg);
  margin-right: 4px;
}
/*
Button
*/
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary.disabled:hover {
  color: #ffffff;
  background-color: #f62459;
  border-color: #f62459;
}
.btn {
  margin-right: 15px;
}
/*.btn-default:active, .btn-default:hover  {
    background: transparent;
}*/
.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 30px;
  font-size: 1.45rem;
  border-radius: 30px;
}
.btn-md,
btn-group-md > .btn {
  padding: 8px 20px;
  font-size: 1.2rem;
  border-radius: 30px;
}
.btn-primary.btnxs:hover {
  background: #f62459;
}
.btn-default.btnxs:hover {
  background: transparent;
}
.btn-primary {
  color: #ffffff;
}
.btn-primary:active,
.btn-primary:hover {
  background: #ffffff;
}
.btnxs {
  /*display: inline-block;*/
  position: relative;
  opacity: .999;
  background-color: transparent;
  overflow: hidden;
}
.btnxs:before,
.btnxs:after {
  content: '';
  width: 0;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.btnxs:before {
  left: 50%;
}
.btnxs:after {
  right: 50%;
}
.btnxs:hover:before,
.btnxs:hover:after {
  width: 50%;
  opacity: 1;
}
.btn-default {
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: transparent;
}
.btn-default:before,
.btn-default:after {
  background-color: #ffffff;
}
btn-default:focus {
  background-color: #ffffff;
  border-color: transparent;
}
.btn-default:hover {
  border-color: #ffffff;
  color: #f62459;
  background-color: #ffffff;
}
.btn-primary {
  background-color: #f62459;
  color: #ffffff;
  border: 2px solid #f62459;
}
.btn-primary:before,
.btn-primary:after {
  background-color: #ffffff;
}
btn-primary:focus {
  background-color: #f62459;
  border-color: transparent;
}
.btn-primary:hover {
  border-color: #f62459;
  color: #f62459;
}
/*
Extra height css
*/
.margin-top-20 {
  margin-top: 20px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-top-40 {
  margin-top: 40px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
.margin-top-60 {
  margin-top: 60px;
}
.margin-bottom-60 {
  margin-bottom: 60px;
}
.padding-top-20 {
  padding-top: 1.33rem;
}
.padding-bottom-20 {
  padding-bottom: 1.33rem;
}
.padding-top-40 {
  padding-top: 2.66rem;
}
.padding-bottom-40 {
  padding-bottom: 2.66rem;
}
.padding-top-60 {
  padding-top: 5rem;
}
.padding-bottom-60 {
  padding-bottom: 5rem;
}
.padding-bottom-0 {
  padding-bottom: 0;
}
/*padding*/
.padding-twenty {
  padding: 10px 0;
}
.padding-fourty {
  padding: 20px 0;
}
.padding-sixty {
  padding: 30px 0;
}
.padding-eighty {
  padding: 40px 0;
}
h1 span {
  color: #f62459;
  font-weight: bold;
}
/* ======================
MENU
======================*/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: #ffffff;
}
.navbar-brand {
  height: 70px;
  padding: 10px 15px;
  margin-left: 0px !important;
}
.navbar-brand img {
  max-height: 55px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.nav .btn {
  height: 41px;
  font-size: inherit;
  line-height: 10px;
  margin-top: 3px;
}
.nav .btn-primary {
  color: #ffffff !important;
}
.nav .btn-primary:hover {
  color: #f62459 !important;
}
.navbar-default .btn-default {
  border: 1px solid #000000;
}
.navbar-default .btn-default:hover {
  border: 1px solid #f62459;
}
/*fixed nav light*/
.navbar {
  background: #ffffff;
  border-color: rgba(197, 197, 197, 0.4);
  margin-bottom: 0;
}
.navbar.fixed-nav .navbar-nav > li > a {
  color: #000000;
  font-weight: bold;
}
.fixed-nav.navbar .navbar-nav > .active > a,
.fixed-nav.navbar .navbar-nav > .active > a:hover,
.fixed-nav.navbar .navbar-nav > .active > a:focus,
.fixed-nav.navbar .navbar-nav > li > a:hover,
.fixed-nav.navbar .navbar-nav > li > a:focus {
  color: #f62459;
}
.navbar-nav {
  padding-top: 10px;
}
.fixed-nav .navbar-toggle {
  margin-bottom: 12px;
  margin-top: 13px;
}
/*fixed nav dark*/
.fixed-nav-dark.navbar {
  background: #000000;
  border-color: rgba(255, 255, 255, 0.29);
}
.navbar.fixed-nav-dark .navbar-nav > li > a {
  color: #ffffff;
}
.fixed-nav-dark.navbar .navbar-nav > .active > a,
.fixed-nav-dark.navbar .navbar-nav > .active > a:hover,
.fixed-nav-dark.navbar .navbar-nav > .active > a:focus,
.fixed-nav-dark.navbar .navbar-nav > li > a:hover,
.fixed-nav-dark.navbar .navbar-nav > li > a:focus {
  color: #f62459;
}
.fixed-nav-dark .navbar-nav {
  padding-top: 10px;
}
ixed-nav-dark .navbar-toggle {
  margin-bottom: 12px;
  margin-top: 13px;
}
/*.navbar-nav li i{
    width: 30px;
    background-color: #EDEDED;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-top: -10px;
}*/
/* ======================
Home section
======================*/
.home-wrap {
  width: 100%;
  overflow: hidden;
}
.home-default {
  background: url(../images/home.jpg) no-repeat center top fixed;
  /*background-size*/
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.home-app {
  background: url(../images/home-app.jpg) no-repeat center top fixed;
  /*background-size*/
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.home-contact {
  background: url(../images/home-contact.jpg) no-repeat center top fixed;
  /*background-size*/
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}
.home-countdown {
  background: url(../images/home-countdown.jpg) no-repeat center top fixed;
  /*background-size*/
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.home-subscription {
  background: url(../images/home-subscribe.jpg) no-repeat center top fixed;
  /*background-size*/
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.home-try {
  background: url(../images/home-try.jpg) no-repeat center top fixed;
  /*background-size*/
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.home-video {
  background: url(../images/home-video.jpg) no-repeat center top fixed;
  /*background-size*/
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.home-msg {
  background: url(../images/home-msg.jpg) no-repeat center top fixed;
  /*background-size*/
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*
Style 1
*/
.home-intro-left {
  margin: auto;
  padding-top: 150px;
}
.home-intro-left .intro-wrap h1 {
  color: #ffffff;
  font-size: 3.75rem;
  font-weight: normal;
  margin-bottom: 15px;
  text-transform: none;
}
.home-intro-left .intro-wrap h4 {
  color: #ffffff;
  font-size: 1.2rem;
  margin-top: 30px;
  font-weight: 100;
}
.home-intro-left .home-button {
  padding-bottom: 50px;
  margin-top: 80px;
}
.home-intro-left .home-video-button {
  padding-bottom: 50px;
  margin-top: 40px;
}
.home-button img {
  margin-right: 20px;
}
.home-intro-right {
  margin-top: 150px;
}
/*
Style 2
*/
.home-intro {
  text-align: center;
  padding-top: 120px;
}
.intro-wrap {
  padding-top: 80px;
}
.home-intro .intro-wrap h1,
.home-intro-carousel h1,
.home-intro-app-block h1 {
  color: #ffffff;
  font-size: 3.75rem;
  font-weight: normal;
  line-height: 4.5rem;
  margin-bottom: 1.8rem;
  text-transform: none;
}
.home-intro .intro-wrap h4 {
  color: #ffffff;
  font-size: rem;
  margin-top: 30px;
}
.home-intro .home-button {
  padding-bottom: 50px;
  margin-top: 50px;
}
/*
Subscribe Form

*/
.home-subscribe {
  text-align: center;
  padding-top: 120px;
}
.home-subscribe .intro-wrap h1 {
  color: #ffffff;
  font-size: 3.75rem;
  font-weight: normal;
  margin-bottom: 15px;
  text-transform: none;
}
.home-subscribe .intro-wrap h3 {
  color: #ffffff;
  margin-bottom: 20px;
  font-family: 'roboto', sans-serif;
}
.home-subscribe .center-block {
  width: 80%;
  margin-bottom: 137px;
  margin-top: 70px;
}
.home-subscribe .subscribe-input {
  float: left;
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 67%;
  height: 70px;
  background-color: rgba(146, 146, 146, 0.6);
  font-size: 2rem;
  border-right: none;
  color: #ffffff;
}
.home-subscribe .btn-group {
  margin: auto;
  width: 100%;
}
.home-subscribe button {
  width: 30%;
  height: 71px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.home-subscribe .message {
  font-size: 16px;
  margin-top: 10px;
  color: #A0A0A0;
  font-style: italic;
}

.home-subscribe .subscribe-input::-webkit-input-placeholder{
    color: #EDEDED;
}
.home-subscribe .subscribe-input::-moz-placeholder{
    color: #EDEDED;
}
.home-subscribe .subscribe-input:-ms-input-placeholder{
    color: #EDEDED;
}
/*
Try form
*/
.home-intro-2nd-half-contact {
  padding-top: 100px;
}
.try-registration-form {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 390px;
  margin: auto;
  padding: 30px;
  min-height: 390px;
  color: #ffffff;
}
.try-registration-form h3 {
  color: #ffffff;
  font-weight: 600;
  margin-top: 10px;
  font-size: 1.7em;
}
.try-registration-form p {
  font-size: 14px;
  color: #EDEDED;
  font-weight: 300;
}
.try-registration-form input {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 45px;
  background: #000000;
  border-radius: 0px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  box-shadow: inherit;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid rgba(26, 198, 255, 0.4);
  border-left: 3px solid #f62459;
}
.try-registration-form textarea {
  width: 100%;
  margin-bottom: 25px;
  height: 100px;
  background: #000000;
  border-radius: 0px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  box-shadow: inherit;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid rgba(26, 198, 255, 0.4);
  border-left: 3px solid #f62459;
}
.try-registration-form input:focus {
  border: 1px solid #f62459;
  border-left: 3px solid #f62459;
}
/*
Try service
*/
.home-intro-2nd-half-try {
  padding-top: 200px;
}
.privacy {
  text-align: center;
  margin-top: 20px;
}
.privacy a {
  color: #EDEDED;
  font-size: 14px;
}
/* carousel */
.home-intro-carousel {
  margin-top: 120px;
}
.home-intro-carousel .logo {
  margin-bottom: 40px;
}
.home-intro-carousel .item {
  min-height: 350px;
}
.home-intro-carousel .carousel-indicators {
  position: inherit;
  right: 0px;
  margin-top: 40px;
}
.home-intro-carousel h1 {
  margin-bottom: 30px;
  line-height: 4.75rem;
}
.home-intro-carousel p {
  margin-bottom: 50px;
  font-size: 1.4rem;
  font-weight: 100;
}
/* end carousel */
/*
video
*/
/* videos */
.home-intro-2nd-half-video {
  margin-top: 250px;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.videoWrapper > .frameCover {
  /*position: absolute;*/
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: none;
}
/*home startup app block*/
.home-intro-app-block {
  padding-top: 150px;
  text-align: center;
}
.home-intro-app-block .download-button {
  padding-bottom: 80px;
  margin-top: 30px;
}
.home-intro-app-block .download-button a {
  margin-right: 25px;
}
.startup-image-block {
  max-width: 100%;
  bottom: 0;
  margin-bottom: -30px;
}
.video-container {
  max-width: 755px;
}
/*
Section Feature
*/
.feature-items {
  padding: 20px 10px;
  clear: both;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.feature-items:hover {
  background-color: #F9F9F9;
  border-radius: 5px;
}
.feature-items i,
.feature-item i {
  display: inline-block;
  font-size: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #f62459;
  overflow: hidden;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #f62459;
  margin-bottom: 10px;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.feature-items:hover i,
.feature-item:hover i {
  color: #ffffff;
  background: #f62459;
}
.feature-items h5 {
  font-size: 22px;
  margin-bottom: 10px;
}
.features-left,
.features-right {
  margin-top: 20px;
}
/*
Feature style 2
*/
.feature-item .feature-text2 {
  margin-bottom: 20px;
}
.feature .pull-left {
  width: 15%;
}
.feature i {
  width: auto;
  font-size: 35px;
  padding-top: 0px;
  display: block;
  height: 104px;
  text-align: center;
  margin-bottom: 32px;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.feature:hover i {
  color: #f62459;
}
.feature .pull-right {
  width: 85%;
}
.feature-icon {
  float: left;
  padding-right: 15px;
}
.features-left-3 p {
  overflow: hidden;
}
.features-left-3 .feature-items {
  margin-bottom: 10px;
}
/*======================
call to action
======================*/
.greybg {
  background-color: #f7f7f7;
}
.call-to-action a {
  margin-top: 20px;
}
/*======================
clients
======================*/
.client-wrapper {
  overflow: hidden;
  text-align: center;
  line-height: 0;
}
.client-item {
  display: inline-block;
  width: 90%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.client-wrapper .col-sm-3 {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.client-wrapper .col-sm-3 {
  display: inline-block;
  min-height: 80px;
  line-height: 80px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.client-wrapper img {
  max-width: 100%;
  opacity: 0.5;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-backface-visibility: none;
  margin: auto;
  display: block;
}
.client-wrapper img:hover {
  opacity: 1;
}
.client-wrapper .col-sm-3:last-child {
  border-right: none;
}
.client-wrapper:last-child .client-item {
  border-bottom: none;
}
.client2 {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.client-wrapper2 .col-md-2 {
  line-height: 80px;
}
.client-wrapper2 img {
  max-width: 100;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  opacity: 0.4;
  margin: auto;
  display: block;
}
.client-wrapper2 img:hover {
  opacity: 1;
}
/* Carousel */
#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}
#quote-carousel .carousel-control {
  background: none;
  color: #CACACA;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
#quote-carousel .carousel-control.left {
  left: -60px;
}
#quote-carousel .carousel-control.right {
  right: -60px;
}
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
  border: 4px solid #CCC;
  border-radius: 50px;
  opacity: 0.4;
  overflow: hidden;
  transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
  background: #333333;
  width: 128px;
  height: 128px;
  border-radius: 100px;
  border-color: #f62459;
  opacity: 1;
  overflow: hidden;
}
#quote-carousel .carousel-inner {
  min-height: 300px;
}
#quote-carousel .item blockquote {
  border-left: none;
  margin: 0;
}
#quote-carousel .item blockquote p:before {
  content: "\f10d";
  font-family: 'Fontawesome';
  float: left;
  margin-right: 10px;
}
/*
Testimonial Caoursel
*/
.testimonial {
  background: url(../images/testimonial.jpg) no-repeat center top fixed;
  /*background-size*/
  -moz-background-size: cover;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  overflow: hidden;
}
.testimonialslide .carousel-inner {
  margin-top: -30px;
}
.testimonialslide .carousel-item {
  position: initial!important;
  text-align: center;
}
.testimonialslide .carousel-item p {
  font-size: 1.4rem;
  font-style: italic;
  line-height: 2.2rem;
  margin-bottom: 2rem;
}
.testimonialslide .carousel-item p::before {
  content: "\f10d";
  font-family: fontAwesome;
  padding-right: 20px;
}
.testimonialslide .carousel-item p::after {
  content: "\f10e";
  font-family: fontAwesome;
  padding-left: 20px;
}
.testimonialslide .testimonialitem {
  margin-top: 4rem;
}
.testimonialslide .testimonialitem h3 {
  font-size: 1.4rem;
  font-weight: 700;
}
.testimonialslide .testimonialitem h3 span {
  font-size: 1rem;
  font-weight: 700;
  color: #f62459;
}
.testimonialslide .carousel-indicators .active {
  background-color: transparent!important;
  width: 1.1rem!important;
  height: 1.1rem!important;
  background: #f62459 !important;
  border-color: #f62459 !important;
}
.testimonialslide .carousel-indicators {
  bottom: -3rem !important;
}
.testimonialslide .carousel-indicators li {
  border: 1px solid #000000;
}
.overlay-img .carousel-indicators li {
  border: 1px solid #ffffff;
}
/*


*/
.feature-fluid-wrapper {
  background: url(../images/feature.jpg) no-repeat center center;
  background-size: cover;
  height: 500px;
}
.feature-fluid-wrapper-color {
  background-color: #f62459;
  background-size: cover;
  height: 500px;
}
.vertical-center-wrapper {
  height: 100%;
}
.vertical-center-table {
  display: table;
  height: 100%;
  width: 100%;
}
.describe-quote-author {
  font-family: 'Lane', sans-serif;
  margin-top: 1rem;
  font-style: normal;
}
.describe-quote-author span {
  font-size: 1.2rem;
}
.vertical-center-middle {
  display: table-cell;
  vertical-align: middle;
}
.block-message {
  color: #ffffff;
  font-style: italic;
}
.block-message p {
  padding: 0 75px;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.app-block {
  text-align: center;
}
/*---------------------------------------------------------*/
/*  ACCORDION v1.3                                         */
/*---------------------------------------------------------*/
.panel-default > .panel-heading {
  color: #333;
  background-color: #f9f9f9;
  border-color: #ddd;
  padding: 8px 15px;
}
.panel-group .panel {
  margin-bottom: 0;
}
.panel-default {
  border-color: #F9F8F8;
}
.panel-title a {
  display: block;
  font-size: 18px;
  color: #7B7B7B;
}
.panel-heading i {
  margin-top: -25px;
  color: #E2DFDF;
  /*font-size: 18px;*/
}
.panel-collapse {
  overflow: hidden;
  position: relative;
}
.panel-body {
  padding-bottom: 2.66rem;
}
.accordion-icon {
  position: absolute;
  bottom: -25px;
  right: -25px;
  font-size: 100px;
  opacity: 0.5;
  z-index: 1 !important;
  color: #f62459;
}
/* END */
/*
Describe section
*/
.describe-list {
  padding-bottom: 1.33rem;
}
.describe-list-icon {
  float: left;
  width: 3.5rem;
  font-size: 2rem;
}
.describe-list-content {
  overflow: hidden;
}
.describe-list-content h5 {
  font-size: 1.1rem;
  font-weight: bold;
}
.describe-list-content p {
  font-size: 1rem;
}
.describe-images {
  margin-top: 40px;
}
.describe-list {
  margin-top: 3rem;
}
.describe-list li {
  margin-top: 2rem;
}
.describe-list li span {
  font-size: 0.9rem;
}
.describe-list li i {
  font-size: 30px;
  margin-right: 10px;
  margin-bottom: 0.5rem;
}
.describe-bg-img {
  background: url(../images/describe-bg-image.jpg) no-repeat center top fixed;
  /*background-size*/
  -moz-background-size: cover;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  overflow: hidden;
}
.download-bg-img {
  background: url(../images/download.jpg) no-repeat center top fixed;
  /*background-size*/
  -moz-background-size: cover;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  overflow: hidden;
}
.download-btn {
  clear: both;
  margin-top: 30px;
}
.callnow h1 {
  font-size: 4rem;
  font-family: 'roboto', sans-serif;
}
.call-number {
  margin-top: 40px;
  font-size: 5rem;
  font-weight: 700;
}
/*======================
TEAM
======================*/
.team-member {
  text-align: center;
}
.team-bg {
  padding: 20px 5px;
}
.team-member img {
  display: inline-block;
  margin-bottom: 16px;
  width: 260px;
  height: 260px;
  border: 10px solid #EDEDED !important;
}
.team-separator {
  height: 1px;
  width: 77px;
  margin: 20px auto;
  background: #f62459;
}
.team-member li i {
  font-size: 20px;
  padding: 5px;
  color: #000000;
  opacity: 0.3;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-backface-visibility: none;
}
.team-member li i:hover {
  opacity: 1;
}
.team-member h2 {
  font-size: 2.3rem;
  margin-bottom: .5rem;
}
.team-member h5 {
  margin-bottom: 12px;
  color: #f62459;
}
.team-member ul {
  margin-top: 15px;
}
/* ======================
FeatureS & service
======================*/
.service i {
  font-size: 4rem;
  margin-bottom: 30px;
}

.service-box img {
  margin-bottom: 20px;
}
/*======================
screenshotS
======================*/
.screenshots img {
  padding: 10px;
  background: #F7F7F7;
}
/*======================
Pricing
======================*/
.pricing-table {
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
  border: 1px solid #E6E6E6;
  background-color: #F9F9F9;
}
.pricing-table ul {
  list-style: none;
  margin: 0;
  text-align: center;
  padding-left: 0px;
}
.pricing-table ul li {
  border-bottom: solid 1px #D8D8D8;
  padding-top: 20px;
  padding-bottom: 20px;
}
.pricing-table ul li.price {
  background-color: #ffffff;
  padding: 40px 20px 20px 20px;
  font-size: 20px;
  color: #353c3e;
  font-weight: 900;
}
.pricing-table ul li.price i {
  padding: 0 30px 30px;
  font-size: 50px;
  display: block;
  color: #f62459;
}
.pricing-table .pricing-footer {
  padding: 20px;
}
.pricing-table .pricing-footer a i {
  margin: 5px;
  top: 3px;
}
.pricing-footer .btn {
  margin-right: 15xp;
}
.price-1 .plan {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 5px solid #F5F5F5;
  padding: 25px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  color: #4C4C4C;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 30px;
}
.price-1 .plan b {
  color: #4C4C4C;
}
.price-1 .plan .title {
  color: #f62459;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 8px;
}
.price-1 .plan .description {
  margin: 26px 0;
  border-top: 1px solid #E8E8E8;
  line-height: 28px;
  font-weight: normal;
}
.price-1 .plan li {
  border-bottom: 1px solid #E8E8E8;
  padding: 10px 0;
}
.price-1 .col-md-3 {
  margin-bottom: 20px;
}
/*======================
Real estate
======================*/
.real-estate {
  margin-top: 40px;
  border: 2px solid #EDEDED;
  padding: 10px 10px 20px;
}
.real-estate h4 {
  margin-top: 20px;
}
.real-estate p {
  margin-bottom: 20px;
}
/*======================
FUNFACT
======================*/
.funfact {
  background: url(../images/funfact.jpg) no-repeat center top fixed;
  /*background-size*/
  -moz-background-size: cover;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  overflow: hidden;
}
.funfacts-counter .statistic-counter {
  text-align: center;
  font-size: 4.5rem;
  line-height: 80px;
  font-weight: 700;
  margin-bottom: 20px;
}
.funfacts-counter2 i {
  font-size: 3.5em;
  display: block;
  text-align: center;
  margin-bottom: 15px;
}
.funfacts-counter i {
  font-size: 3.5em;
  display: block;
  text-align: center;
  margin-bottom: 15px;
}
.funfacts-counter .statistic-text {
  font-size: 24px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 700;
}
/*======================
TWITTER FEED
======================*/
.tweets {
  background: url(../images/twitter.jpg) no-repeat center top fixed;
  /*background-size*/
  -moz-background-size: cover;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  /*    -webkit-background-size: length_x length_y;*/
  width: 100%;
  overflow: hidden;
}
.twitter-icon {
  font-size: 80px;
  color: #55acee;
}
.tweet {
  text-align: center;
  margin-top: 20px;
  font-size: 1.5em;
  line-height: 30px;
  color: #ffffff;
}
.tweet a {
  color: #ededed;
}
.tweet a:hover {
  color: #f62459;
}
.user,
.user a {
  color: #ffffff;
  margin-top: 20px;
}
#tweet .owl-carousel .owl-item img {
  display: none;
}
.interact a {
  padding: 5px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #f62459;
}
/*======================
Skills
======================*/
.skills {
  background: url(../images/skills.jpg) no-repeat center top fixed;
  /*background-size*/
  -moz-background-size: cover;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  /*    -webkit-background-size: length_x length_y;*/
  width: 100%;
  overflow: hidden;
}
.skills-text {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-top: 25px;
}
.skills .chart {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
}
.skills .chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.skills .percent {
  display: inline-block;
  line-height: 150px;
  z-index: 2;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
}
.skills .percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}
/*======================
Subscribe
======================*/
.subscribe-bg-img {
  background: url(../images/download.jpg) no-repeat center top fixed;
  /*background-size*/
  -moz-background-size: cover;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  overflow: hidden;
}
.body-subscribe {
  padding-top: 20px;
}
/*======================
CONTACT
======================*/
.contact-address {
  margin-top: 40px;
}
.contact-1 textarea {
  margin: 15px 0;
}
.contact-1-button {
  padding: 13px 0;
}
.contact-2 input {
  margin-bottom: 10px;
  margin-top: 10px;
  height: 50px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-left: 15px;
}
.contact-2 textarea {
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-left: 15px;
}
contact-2 textarea.form-control {
  height: auto;
}
.contact-2 button {
  margin: auto;
  display: block;
  min-width: 235px;
}
.contact-form {
  clear: both;
}
.contact-form #message {
  margin: 10px 0;
  padding: 0;
}
.contact-form .error_message {
  font-size: 18px;
  display: block;
  height: 50px;
  line-height: 40px;
  background: #ffeaeb url('../images/error.gif') no-repeat 10px center;
  padding: 3px 10px 3px 35px;
  color: #FF1E00;
  border: 1px solid #DBDBDB;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 95%;
  text-align: center;
  margin: auto;
}
.contact-form #contact #success_page {
  background: rgba(230, 230, 230, 0.44);
  border-radius: 10px;
  padding: 40px 10px;
  color: black;
  min-height: 280px;
}
.contact-form #contact #success_page h1 {
  background: url('../images/success.gif') left no-repeat;
}
.contact-form #contact #success_page p {
  font-size: 18px;
}
.contact-address h4 {
  margin-bottom: 20px;
}
.contact-4 i {
  font-size: 50px;
  margin-bottom: 20px;
  color: #f62459;
}
.contact-address li {
  margin-top: 10px;
}
.success-msg {
  color: #4DEC4D;
}
.error-msg {
  color: #FB5252;
}
.map-wrapper {
  height: 320px;
}
.map-wrapper.three {
  height: 320px;
}
/*======================
footer
======================*/
.footer-1 {
  background: #3D566E;
  padding: 60px 0px 50px;
  font-weight: 200;
  color: #CBD0D3;
}
.footer-1 a img {
  margin-bottom: 20px;
}
.footer-1 h2 {
  color: #ECF0F1;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 15px;
}
.footer-1 span {
  text-transform: uppercase;
  font-size: 13px;
}
.footer-1 a,
.footer-1 a span {
  font-size: 26px;
  margin-right: 5px;
  color: #F0F0F0;
  margin-top: 10px;
}
.footer-1-light {
  background: #F5F5F5;
  padding: 60px 0px 50px;
  font-weight: 200;
  color: #4A4A4A;
}
.footer-1-light a img {
  margin-bottom: 20px;
}
.footer-1-light h2 {
  color: #4A4A4A;
  font-size: 30px;
  /* border-bottom: 2px dashed #4A4A4A; */
  /* padding-bottom: 20px; */
  margin-top: 0px;
  margin-bottom: 10px;
}
.footer-1-light span {
  text-transform: uppercase;
  font-size: 13px;
}
.footer-1-light a {
  font-size: 26px;
  margin-right: 5px;
  color: #838383;
  margin-top: 15px;
}
.footer-1-light a span {
  font-size: 18px;
  margin-right: 5px;
  color: #929292;
  margin-top: 15px;
  border: 2px solid #929292;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  line-height: 35px;
}
.footer-1 a span:hover,
.footer-1-light a span:hover {
  color: #f62459;
  border: 2px solid #f62459;
}
.footer-1-color {
  padding: 60px 0px 50px;
  font-weight: 200;
  color: #FFFFFF;
}
.footer-1-color h2 {
  color: #FFFFFF;
  font-size: 34px;
  border-bottom: 2px dashed #FFFFFF;
  padding-bottom: 20px;
  margin-top: 0px;
  margin-bottom: 15px;
}
.footer-1-color span {
  text-transform: uppercase;
  font-size: 13px;
}
.footer-1-color a,
.footer-1-color a span {
  font-size: 26px;
  margin-right: 5px;
  color: #FFFFFF;
  margin-top: 10px;
}
.footer-1 a span:hover,
.footer-1-color a span:hover {
  color: #ffffff;
}
.footer-2 {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #bdc3c7;
  line-height: 25px;
  background-color: #2c3e50;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.footer-2 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: #bdc3c7;
}
.footer-2 nav ul li {
  float: left;
  padding-right: 20px;
  line-height: 25px;
}
.footer-2 a {
  color: #bdc3c7;
  font-weight: normal;
}
.footer-2 .social-btns {
  white-space: nowrap;
}
.footer-2 .social-btns > *:first-child {
  margin-left: 0;
}
.social-btns > a {
  display: inline-block;
  font-size: 20px;
  font-weight: normal;
  overflow: hidden;
  text-align: center;
  padding: 5px;
  color: #ffffff;
}
.footer-2 .additional-links {
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
}
.footer-2 .additional-links a {
  text-decoration: underline;
}
/**
 * Footer 3 stylesheet  
 * */
.footer-3 {
  font-size: 14px;
  padding-top: 65px;
  padding-bottom: 65px;
  background: #2c3e50;
  color: #bdc3c7;
}
.footer-3.v-center,
.footer-3 .v-center {
  display: table;
  width: 100%;
}
.footer-3.v-center > div,
.footer-3 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
.footer-3 .brand {
  font-size: 25px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 500;
}
.footer-3.v-center > div,
.footer-3 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
  color: #ffffff;
}
.footer-3 .additional-links a {
  color: #bdc3c7;
  text-decoration: underline;
}
.footer-3 h6 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  text-transform: none;
}
.footer-3 .address {
  line-height: 25px;
}
.footer-4 {
  background: #F2F2F2;
}
.footer-details i {
  font-size: 22px;
  line-height: 40px;
}
.social-icon li {
  border-radius: 50%;
  border: 1px solid #616161;
  width: 38px;
  height: 38px;
  margin: 2px;
}
.social-icon li a {
  color: #616161;
}
/*# sourceMappingURL=style.css.map */